- var addActionLink = '/lti/form/submit/businessmodelcanvas/businessmodelcanvasdefault'
- var keyPartners = getActivity('keypartners')
- var assets = getActivity('assets')
- var differentiators = getActivity('differentiators')
- var revenueStreams = getActivity('revenuestreams')
- var distributionChannels = getActivity('distributionchannels')
- var customerRelationships = getActivity('customerrelationships')
- var customerSegments = getActivity('customersegments')
- var valueProposition = getActivity('valueproposition')
- var costStructure = getActivity('coststructure')
div.canvas-container
  div.canvas-cell.value-proposition
    span= valueProposition.title
      - var valuePropositionValue = results.find(result => result.name === 'valueproposition')
      - var form = valuePropositionValue ? {action: `/lti/form/update/${valuePropositionValue._id}`, data: valuePropositionValue.data } : {action: `${addActionLink}/valueproposition`, data: '' }
      include ../form/canvasCell.jade



h2.subdeliverable-title#valueproposition
  span= valueProposition.title
p.subdeliverable-description= valueProposition.description
div.activity-container

  - var valuePropositionValue = results.find(result => result.name === 'valueproposition')
  - var form = valuePropositionValue ? {action: `/lti/form/update/${valuePropositionValue._id}`, data: valuePropositionValue.data } : {action: `${addActionLink}/valueproposition`, data: '' }
  include ../form/form.jade

h2.subdeliverable-title#customersegments
  span= customerSegments.title
p.subdeliverable-description= customerSegments.description
div.activity-container

  - var customerSegmentsValue = results.find(result => result.name === 'customersegments')
  - var form = customerSegmentsValue ? {action: `/lti/form/update/${customerSegmentsValue._id}`, data: customerSegmentsValue.data } : {action: `${addActionLink}/customersegments`, data: '' }
  include ../form/form.jade

h2.subdeliverable-title#customerrelationships
  span= customerRelationships.title
p.subdeliverable-description= customerRelationships.description
div.activity-container

  - var customerRelationshipsValue = results.find(result => result.name === 'customerrelationships')
  - var form = customerRelationshipsValue ? {action: `/lti/form/update/${customerRelationshipsValue._id}`, data: customerRelationshipsValue.data } : {action: `${addActionLink}/customerrelationships`, data: '' }
  include ../form/form.jade

h2.subdeliverable-title#distributionchannels
  span= distributionChannels.title
p.subdeliverable-description= distributionChannels.description
div.activity-container

  - var distributionChannelsValue = results.find(result => result.name === 'distributionchannels')
  - var form = distributionChannelsValue ? {action: `/lti/form/update/${distributionChannelsValue._id}`, data: distributionChannelsValue.data } : {action: `${addActionLink}/distributionchannels`, data: '' }
  include ../form/form.jade

h2.subdeliverable-title#revenuestreams
  span= revenueStreams.title
p.subdeliverable-description= revenueStreams.description
div.activity-container

  - var revenueStreamsValue = results.find(result => result.name === 'revenuestreams')
  - var form = revenueStreamsValue ? {action: `/lti/form/update/${revenueStreamsValue._id}`, data: revenueStreamsValue.data } : {action: `${addActionLink}/revenuestreams`, data: '' }
  include ../form/form.jade

h2.subdeliverable-title#differentiators
  span= differentiators.title
p.subdeliverable-description= differentiators.description
div.activity-container

  - var differentiatorsValue = results.find(result => result.name === 'differentiators')
  - var form = differentiatorsValue ? {action: `/lti/form/update/${differentiatorsValue._id}`, data: differentiatorsValue.data } : {action: `${addActionLink}/differentiators`, data: '' }
  include ../form/form.jade

h2.subdeliverable-title#assets
  span= assets.title
p.subdeliverable-description= assets.description
div.activity-container

  - var assetsValue = results.find(result => result.name === 'assets')
  - var form = assetsValue ? {action: `/lti/form/update/${assetsValue._id}`, data: assetsValue.data } : {action: `${addActionLink}/assets`, data: '' }
  include ../form/form.jade

h2.subdeliverable-title#assets
  span= keyPartners.title
p.subdeliverable-description= keyPartners.description
div.activity-container

  - var keyPartnersValue = results.find(result => result.name === 'keypartners')
  - var form = keyPartnersValue ? {action: `/lti/form/update/${keyPartnersValue._id}`, data: keyPartnersValue.data } : {action: `${addActionLink}/keypartners`, data: '' }
  include ../form/form.jade

h2.subdeliverable-title#assets
  span= costStructure.title
p.subdeliverable-description= costStructure.description
div.activity-container

  - var costStructureValue = results.find(result => result.name === 'coststructure')
  - var form = costStructureValue ? {action: `/lti/form/update/${costStructureValue._id}`, data: costStructureValue.data } : {action: `${addActionLink}/coststructure`, data: '' }
  include ../form/form.jade
