- var executiveSummary = getSubDeliverable('executivesummary')
h2.subdeliverable-title
  span= executiveSummary.title
p.subdeliverable-description!= executiveSummary.description

- var addActionLink = '/lti/form/submit/businessplan/executivesummary'
- var activityId = 'venturedescription'
- var ventureDescription = getActivity(activityId)
div.activity-container#venturedescription
  h3.activity-title= ventureDescription.title
  p.activity-description!= ventureDescription.description

  - var ventureDescriptionValue = results.find(result => result.name === activityId)
  - var form = ventureDescriptionValue ? {action: `/lti/form/update/${ventureDescriptionValue._id}`, data: ventureDescriptionValue.data } : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'managementandorganizationplan'
- var managementAndOrganizationPlan = getActivity(activityId)
div.activity-container#managementandorganizationplan
  h3.activity-title= managementAndOrganizationPlan.title
  p.activity-description!= managementAndOrganizationPlan.description

  - var managementAndOrganizationPlanValue = results.find(result => result.name === activityId)
  - var form = managementAndOrganizationPlanValue ? {action: `/lti/form/update/${managementAndOrganizationPlanValue._id}`, data: managementAndOrganizationPlanValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'marketingplan'
- var marketingPlan = getActivity(activityId)
div.activity-container#marketingplan
  h3.activity-title= marketingPlan.title
  p.activity-description!= marketingPlan.description

  - var marketingPlanValue = results.find(result => result.name === activityId)
  - var form = marketingPlanValue ? {action: `/lti/form/update/${marketingPlanValue._id}`, data: marketingPlanValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'financialplan'
- var financialPlan = getActivity(activityId)
div.activity-container#financialplan
  h3.activity-title= financialPlan.title
  p.activity-description!= financialPlan.description

  - var financialPlanValue = results.find(result => result.name === activityId)
  - var form = financialPlanValue ? {action: `/lti/form/update/${financialPlanValue._id}`, data: financialPlanValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade
