- var financialPlan = getSubDeliverable('financialplan')
h2.subdeliverable-title
  span= financialPlan.title
p.subdeliverable-description!= financialPlan.description

- var addActionLink = '/lti/form/submit/businessplan/financialplan'

- var activityId = 'startupcosts'
- var startupCosts = getActivity(activityId)
div.activity-container#startupcosts
  h3.activity-title= startupCosts.title
  p.activity-description!= startupCosts.description

  - var startupCostsValue = results.find(result => result.name === activityId)
  - var form = startupCostsValue ? {action: `/lti/form/update/${startupCostsValue._id}`, data: startupCostsValue.data } : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'salesprojections'
- var salesProjections = getActivity(activityId)
div.activity-container#salesprojections
  h3.activity-title= salesProjections.title
  p.activity-description!= salesProjections.description

  - var salesProjectionsValue = results.find(result => result.name === activityId)
  - var form = salesProjectionsValue ? {action: `/lti/form/update/${salesProjectionsValue._id}`, data: salesProjectionsValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'incomeprojections'
- var incomeProjections = getActivity(activityId)
div.activity-container#incomeprojections
  h3.activity-title= incomeProjections.title
  p.activity-description!= incomeProjections.description

  - var incomeProjectionsValue = results.find(result => result.name === activityId)
  - var form = incomeProjectionsValue ? {action: `/lti/form/update/${incomeProjectionsValue._id}`, data: incomeProjectionsValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'cashrequirements'
- var cashRequirements = getActivity(activityId)
div.activity-container#cashrequirements
  h3.activity-title= cashRequirements.title
  p.activity-description!= cashRequirements.description

  - var cashRequirementsValue = results.find(result => result.name === activityId)
  - var form = cashRequirementsValue ? {action: `/lti/form/update/${cashRequirementsValue._id}`, data: cashRequirementsValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'sourcesoffinancing'
- var sourcesOfFinancing = getActivity(activityId)
div.activity-container#sourcesoffinancing
  h3.activity-title= sourcesOfFinancing.title
  p.activity-description!= sourcesOfFinancing.description

  - var sourcesOfFinancingValue = results.find(result => result.name === activityId)
  - var form = sourcesOfFinancingValue ? {action: `/lti/form/update/${sourcesOfFinancingValue._id}`, data: sourcesOfFinancingValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'exitstrategy'
- var exitStrategy = getActivity(activityId)
div.activity-container#exitstrategy
  h3.activity-title= exitStrategy.title
  p.activity-description!= exitStrategy.description

  - var exitStrategyValue = results.find(result => result.name === activityId)
  - var form = exitStrategyValue ? {action: `/lti/form/update/${exitStrategyValue._id}`, data: exitStrategyValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade
