- var managementAndOrganizationPlan = getSubDeliverable('managementandorganizationplan')
span#managementandorganizationplan
h2.subdeliverable-title
  span= managementAndOrganizationPlan.title
p.subdeliverable-description!= managementAndOrganizationPlan.description

- var activityId = 'legalformofbusiness'
- var legalFormOfBusiness = getActivity(activityId)
- var addActionLink = '/lti/form/submit/businessplan/managementandorganizationplan'
div.activity-container#legalformofbusiness
  h3.activity-title= legalFormOfBusiness.title
  p.activity-description!= legalFormOfBusiness.description

  - var legalFormOfBusinessValue = results.find(result => result.name === activityId)
  - var form = legalFormOfBusinessValue ? {action: `/lti/form/update/${legalFormOfBusinessValue._id}`, data: legalFormOfBusinessValue.data } : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'managementteam'
- var managementTeam = getActivity(activityId)
div.activity-container#managementteam
  h3.activity-title= managementTeam.title
  p.activity-description!= managementTeam.description

  - var managementTeamValue = results.find(result => result.name === activityId)
  - var form = managementTeamValue ? {action: `/lti/form/update/${managementTeamValue._id}`, data: managementTeamValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'advisoryboard'
- var advisoryBoard = getActivity(activityId)
div.activity-container#advisoryboard
  h3.activity-title= advisoryBoard.title
  p.activity-description!= advisoryBoard.description

  - var advisoryBoardValue = results.find(result => result.name === activityId)
  - var form = advisoryBoardValue ? {action: `/lti/form/update/${advisoryBoardValue._id}`, data: advisoryBoardValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'recruitment'
- var recruitment = getActivity(activityId)
div.activity-container#recruitment
  h3.activity-title= recruitment.title
  p.activity-description!= recruitment.description

  - var recruitment = results.find(result => result.name === activityId)
  - var form = recruitmentValue ? {action: `/lti/form/update/${recruitmentValue._id}`, data: recruitmentValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'compensionandownership'
- var compensionAndOwnership = getActivity(activityId)
div.activity-container#compensionandownership
  h3.activity-title= compensionAndOwnership.title
  p.activity-description!= compensionAndOwnership.description

  - var compensionAndOwnershipValue = results.find(result => result.name === activityId)
  - var form = compensionAndOwnershipValue ? {action: `/lti/form/update/${compensionAndOwnershipValue._id}`, data: compensionAndOwnershipValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'incentiveplan'
- var incentivePlan = getActivity(activityId)
div.activity-container#incentiveplan
  h3.activity-title= incentivePlan.title
  p.activity-description!= incentivePlan.description

  - var incentivePlanValue = results.find(result => result.name === 'activityId')
  - var form = incentivePlanValue ? {action: `/lti/form/update/${incentivePlanValue._id}`, data: incentivePlanValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'communication'
- var communication = getActivity(activityId)
div.activity-container#communication
  h3.activity-title= communication.title
  p.activity-description!= communication.description

  - var communicationValue = results.find(result => result.name === activityId)
  - var form = communicationValue ? {action: `/lti/form/update/${communicationValue._id}`, data: communicationValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'infrastructure'
- var infrastructure = getActivity(activityId)
div.activity-container#infrastructure
  h3.activity-title= infrastructure.title
  p.activity-description!= infrastructure.description

  - var infrastructureValue = results.find(result => result.name === activityId)
  - var form = infrastructureValue ? {action: `/lti/form/update/${infrastructureValue._id}`, data: infrastructureValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'operationsplan'
- var operationsPlan = getActivity(activityId)
div.activity-container#operationsplan
  h3.activity-title= operationsPlan.title
  p.activity-description!= operationsPlan.description

  - var operationsPlanValue = results.find(result => result.name === activityId)
  - var form = operationsPlanValue ? {action: `/lti/form/update/${operationsPlanValue._id}`, data: operationsPlanValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade
