- var marketingPlan = getSubDeliverable('marketingplan')
h2.subdeliverable-title
  span= marketingPlan.title
p.subdeliverable-description!= marketingPlan.description

  //- div.subdeliverable-resources
  //-   p.resources-title [Resources*] Need help?
  //-   ul.subdeliverable-resources-links
  //-     li Courseware:
  //-       a(href="http://example.com")  Section 2 > Module 1 > Topic 5
  //-     li Reality Check:
  //-       a(href="http://example.com")  Know Your Industry

- var addActionLink = '/lti/form/submit/businessplan/marketingplan'


- var activityId = 'industryprofile'
- var industryProfile = getActivity(activityId)
div.activity-container#industryprofile
  h3.activity-title= industryProfile.title
  p.activity-description!= industryProfile.description

  - var industryProfileValue = results.find(result => result.name === activityId)
  - var form = industryProfileValue ? {action: `/lti/form/update/${industryProfileValue._id}`, data: industryProfileValue.data } : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'competitiveanalysis'
- var competitiveAnalysis = getActivity(activityId)
div.activity-container#competitiveanalysis
  h3.activity-title= competitiveAnalysis.title
  p.activity-description!= competitiveAnalysis.description

  - var competitiveAnalysisValue = results.find(result => result.name === activityId)
  - var form = competitiveAnalysisValue ? {action: `/lti/form/update/${competitiveAnalysisValue._id}`, data: competitiveAnalysisValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'marketanalysis'
- var marketAnalysis = getActivity(activityId)
div.activity-container#marketanalysis
  h3.activity-title= marketAnalysis.title
  p.activity-description!= marketAnalysis.description

  - var marketAnalysisValue = results.find(result => result.name === activityId)
  - var form = marketAnalysisValue ? {action: `/lti/form/update/${marketAnalysisValue._id}`, data: marketAnalysisValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'pricing'
- var pricing = getActivity(activityId)
div.activity-container#pricing
  h3.activity-title= pricing.title
  p.activity-description!= pricing.description

  - var pricingValue = results.find(result => result.name === activityId)
  - var form = pricingValue ? {action: `/lti/form/update/${pricingValue._id}`, data: pricingValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'marketpenetration'
- var marketPenetration = getActivity(activityId)
div.activity-container#marketpenetration
  h3.activity-title= marketPenetration.title
  p.activity-description!= marketPenetration.description

  - var marketPenetrationValue = results.find(result => result.name === activityId)
  - var form = marketPenetrationValue ? {action: `/lti/form/update/${marketPenetrationValue._id}`, data: marketPenetrationValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade
