- var productPlan = getSubDeliverable('productplan')
h2.subdeliverable-title
  span= productPlan.title
p.subdeliverable-description!= productPlan.description

- var addActionLink = '/lti/form/submit/businessplan/productplan'

- var activityId = 'purposeofproduct'
- var purposeOfProduct = getActivity('purposeofproduct')
div.activity-container#purposeofproduct
  h3.activity-title= purposeOfProduct.title
  p.activity-description!= purposeOfProduct.description

  - var purposeOfProductValue = results.find(result => result.name === activityId)
  - var form = purposeOfProductValue ? {action: `/lti/form/update/${purposeOfProductValue._id}`, data: purposeOfProductValue.data } : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'features'
- var features = getActivity(activityId)
div.activity-container#features
  h3.activity-title= features.title
  p.activity-description!= features.description

  - var featuresValue = results.find(result => result.name === activityId)
  - var form = featuresValue ? {action: `/lti/form/update/${featuresValue._id}`, data: featuresValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'stageofdevelopment'
- var stageOfDevelopment = getActivity(activityId)
div.activity-container#stageofdevelopment
  h3.activity-title= stageOfDevelopment.title
  p.activity-description!= stageOfDevelopment.description

  - var stageOfDevelopmentValue = results.find(result => result.name === activityId)
  - var form = stageOfDevelopmentValue ? {action: `/lti/form/update/${stageOfDevelopmentValue._id}`, data: stageOfDevelopmentValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'productlimitations'
- var productLimitations = getActivity(activityId)
div.activity-container#productlimitations
  h3.activity-title= productLimitations.title
  p.activity-description!= productLimitations.description

  - var productLimitationsValue = results.find(result => result.name === activityId)
  - var form = productLimitationsValue ? {action: `/lti/form/update/${productLimitationsValue._id}`, data: productLimitationsValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'intellectualproperty'
- var intellectualProperty = getActivity(activityId)
div.activity-container#intellectualproperty
  h3.activity-title= intellectualProperty.title
  p.activity-description!= intellectualProperty.description

  - var intellectualPropertyValue = results.find(result => result.name === activityId)
  - var form = intellectualPropertyValue ? {action: `/lti/form/update/${intellectualPropertyValue._id}`, data: intellectualPropertyValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade

- var activityId = 'governmentapprovals'
- var governmentApprovals = getActivity(activityId)
div.activity-container#governmentapprovals
  h3.activity-title= governmentApprovals.title
  p.activity-description!= governmentApprovals.description

  - var governmentApprovalsValue = results.find(result => result.name === activityId)
  - var form = governmentApprovalsValue ? {action: `/lti/form/update/${governmentApprovalsValue._id}`, data: governmentApprovalsValue.data} : {action: `${addActionLink}/${activityId}`, data: '' }
  include ../form/form.jade
