div.deliverable-navbar
  div.deliverable-navbar-header
    h4= getDeliverable(type).title
      i.fa.fa-caret-down.deliverable-header-icon
    - for (var option in deliverableContentTree) {
        - if (option !== type) {
          a.option.hidden(href=`/lti/deliverables/${option}`)
            h4= getDeliverable(option).title
        - }
    - }

  div.deliverable-navbar-content
    ul.deliverable-content-list
      - var subDeliverables = deliverableContentTree[type].subDeliverables
      - for (var subDeliverable in subDeliverables) {
          div(class=`navSubType`)
            div.navItemHeader
              h5= subDeliverables[subDeliverable].title
              i(class=`navSubTypeIcon fa fa-chevron-down`)
            ul.activities
              - var activities = subDeliverables[subDeliverable].activities
              - for (var activity in activities) {
                  li
                    a(href=`#${activity.toLowerCase()}`)= activities[activity].title
              - }
      - }

script
  :babel
    document.addEventListener('DOMContentLoaded', () => {
      const navItems = document.querySelectorAll('.deliverable-content-list li a')
      const navSubTypes = document.querySelectorAll('.deliverable-content-list .navSubType')
      navItems.forEach(initializeNavItemEvents)
      navSubTypes.forEach(initializeNavSubTypeEvents)

      const deliverableDropdown = document.querySelector('.deliverable-navbar-header')
      const dropdownOptions = document.querySelectorAll('.option')
      const dropdownIcon = deliverableDropdown.querySelector('.deliverable-header-icon')

      deliverableDropdown.addEventListener('click', () => {
        if (dropdownIcon.classList.contains('fa-caret-up')) {
          dropdownIcon.classList.remove('fa-caret-up')
          dropdownIcon.classList.add('fa-caret-down')
        } else {
          dropdownIcon.classList.remove('fa-caret-down')
          dropdownIcon.classList.add('fa-caret-up')
        }

        dropdownOptions.forEach(option => option.classList.toggle('hidden'))
      })

      // initially open only first items
      navItems[0].classList.add('active')
      navSubTypes[0].querySelector('.navSubTypeIcon').classList.remove('fa-chevron-down')
      navSubTypes[0].querySelector('.navSubTypeIcon').classList.add('fa-chevron-up')
      navSubTypes[0].classList.toggle('opened')

      function initializeNavItemEvents(navItem) {
        navItem.addEventListener('click', () => changeActiveNavItem(navItem))
      }

      function initializeNavSubTypeEvents(navSubType) {
        navSubType
          .querySelector('.navItemHeader')
          .addEventListener('click', () => changeOpenedNavSubType(navSubType))
      }

      function changeActiveNavItem(navItem) {
        navItems.forEach(navItem => navItem.classList.remove('active'))
        navItem.classList.add('active')
      }

      function changeOpenedNavSubType(navSubType) {
        const navSubTypeIcon = navSubType.querySelector('.navSubTypeIcon')
        if (navSubTypeIcon.classList.contains('fa-chevron-up')) {
          navSubTypeIcon.classList.remove('fa-chevron-up')
          navSubTypeIcon.classList.add('fa-chevron-down')
        } else {
          navSubTypeIcon.classList.remove('fa-chevron-down')
          navSubTypeIcon.classList.add('fa-chevron-up')
        }
        navSubType.classList.toggle('opened')
      }
    })
