div.deliverable-wrapper(data-deliverable-link=`/lti/deliverables/${key}`)
  div.deliverable.deliverable-card
    i.deliverable-icon(class=`${deliverableContentTree[key].icon}`)
    h5.title= deliverableContentTree[key].title
    p.short-description= deliverableContentTree[key].shortDescription ? `${deliverableContentTree[key].shortDescription.slice(0, 142)}${deliverableContentTree[key].shortDescription.length > 142 ? '...' : '' }` : ''
  div.activities
    p.title Activities
    - var deliverableResults = activitiesResults.find(result => result.deliverable === key)
    div.results-container
      i.fa.fa-picture-o
      span.results= `${deliverableResults.solvedActivities} / ${deliverableResults.totalActivities}`
      div.deliverable-name= deliverableContentTree[key].title
