doctype html
html
  head
    title Workspace
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons|Open+Sans:300,400,500,700')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.deep_orange-indigo.min.css')
    script(defer=true, src='https://code.getmdl.io/1.3.0/material.min.js')
    link(rel='stylesheet', href='/assets/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='/stylesheets/lti.css')
    link(rel='stylesheet', href='/stylesheets/deliverable.css')
    link(rel='stylesheet', href='/stylesheets/deliverableNavbar.css')
    link(rel='stylesheet', href='/stylesheets/mainNavbar.css')
    link(rel='stylesheet', href='/stylesheets/canvas.css')
    script(src='/assets/ckeditor/ckeditor.js')
    link(rel='preload' href='/assets/ckeditor/contents.css?t=H0CG' as='style')
    link(rel='stylesheet', href='/stylesheets/form.css')

    include polyfills/forEach

    if config.bugmuncherApiKey
      script
        :babel
          var bugmuncher_options = {
            api_key: '!{config.bugmuncherApiKey}'
          };
          (function(){
            var e = document.createElement("script");
            e.setAttribute("type", "text/javascript");
            var d = new Date(); var n = '?'+d.getFullYear()+(d.getMonth()+1)+d.getDate()+d.getHours();
            e.setAttribute("src", "//cdn.bugmuncher.com/bugmuncher.js"+n);
            document.getElementsByTagName("head")[0].appendChild(e);
          })()

    if config.googleAnalyticsAccount
      script
        :babel
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '!{config.googleAnalyticsAccount}', 'auto');
          ga('set', 'userId', '!{profile.username}');
          ga('set', 'userName', '!{profile.username}');
          ga('send', 'pageview');

  body
      header.workspace-navbar
        span.workspace-navbar-title
          a(href=`${config.lmsUrl}\/dashboard`)
            img(src='/assets/images/kauffman_fasttrac_logo.png')

        nav.workspace-navbar-items
          a.workspace-navbar-item(href=`${config.lmsUrl}\/courses`) Explore
          a.workspace-navbar-item(href=`${config.lmsUrl}\/help`) FAQ
          a.workspace-navbar-item(href=`${config.lmsUrl}\/dashboard`) My Courses
          a.workspace-navbar-item(href='/') Workspace
          if email
            div.profile-menu
              div.image-wrapper
                img.user-image-frame(src=`${profile.profile_image.image_url_small}` alt='Profile image')
              div.dropdown-menu
                div.orange-border
                div.dropdown-items
                  a(href=`${config.lmsUrl}\/u\/${profile.username}`) Profile
                  if profile.is_staff
                    a(href=`${config.lmsUrl}\/affiliates\/new`) Add New Affiliate
                  if profile.affiliate_slug && profile.is_program_director_or_course_manager
                    a(href=`${config.lmsUrl}\/affiliates\/edit\/${profile.affiliate_slug}`) Edit Affiliate
                  a(href=`/users/logout`) Sign Out
          else
            a.workspace-navbar-item(href='/users/auth') Log in

      main.workspace-content
        #content.page-content
          block content

      div.wrapper.wrapper-footer
        footer#footer-openedx.grid-container
          div.colophon
            p.copyright @ 2017 Ewing Marion Kauffman Foundation All Rights Reserved
            div.footer-link
              a(href=`${config.lmsUrl}\/terms`) Privacy policy/terms of use
            div.footer-link
              a(href='http://www.kauffman.org') Kauffman foundation
            div.footer-link
              a(href='mailto:info@fasttrac.org') Contact us
          div.background-pattern

script
  :babel
    document.addEventListener('DOMContentLoaded', () => {
      const profileMenuImage = document.querySelector('.image-wrapper')

      profileMenuImage.addEventListener('click', () => {
        const dropdown = document.querySelector('.profile-menu .dropdown-menu')

        dropdown.classList.toggle('expanded')
      })
    })
