.form
  form(action=form.action, method='POST', id=`${form.action}-form` class='activity-form')
    div.confirm-modal-wrapper.hidden
      div.confirm-modal
        h4.modal-title
          | Are you sure?
        p.modal-content
          | Saving your changes here will overwrite your courseware
          | answers. Are you sure you still want to save this current
          | answer?
        div.cancel-button
          | No
        div.confirm-button
          | Yes

    div.success-modal-wrapper.hidden
      div.success-modal
        h4.modal-title
          | Success!
        p.modal-content
          | Your changes are now saved across all your courses.

    textarea(type='editor', name='data', class='editor', id=form.action, rows='10', cols='80')= form.data
    input.hidden(type='submit')
    div.form-control-container
      unless isLtiSession
        - var activityId = form.action.split('/')
        - activityId = activityId[activityId.length -1]
        - var block = blocks.find(block => block.launch_url.indexOf(activityId) > 0)

        div.view-in-course-link
          a(href=block && block.lms_web_url)
            | View in course
            i.fa.fa-arrow-circle-o-right
      div.save-button-wrapper
        i.fa.fa-floppy-o.save-icon
        button.save-button Save
      div.reset-button-wrapper(data-editor-id=form.action, data-initial-data=form.data)
        input.reset-button(type='button', value='Cancel')
